<br>
<h1>About Us</h1>

<div class="about-box">
  <p>Welcome to the Jungle.  We are your one-stop shop for all things plant-related.  Join the millions of other satisfied customers who have found their little pieces of nature for their homes.</p>
  <div class="about-text"></div>
</div>